* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}

:root {
    --bg-navbar: #0d012d;
    --color-white: #ffff;
    --hover-a-header: #1dd0f8;
}

header.wrapper-header nav.navbar {
    display: flex;
    background-color: var(--bg-navbar);
    align-items: center;
    height: 10vh;
    justify-content: center;
}

header.wrapper-header nav.navbar .mobile-menu {
    display: none;
    margin-left: 85%;
    cursor: pointer;
}

header.wrapper-header nav.navbar .mobile-menu div {
    width: 34px;
    height: 2px;
    background: var(--color-white);
    margin: 8px;
}

header.wrapper-header nav.navbar ul.nav-list {
    list-style: none;
    display: flex;
}

header.wrapper-header nav.navbar ul.nav-list li {
    letter-spacing: 2px;
    margin-left: 34px;
}

header.wrapper-header nav.navbar ul.nav-list li a {
    color: var(--color-white);
    font-size: 1.4em;
    text-decoration: none;
    transition: 0.3s;
}

header.wrapper-header nav.navbar ul.nav-list li a:hover {
    opacity: 0.8;
    color: var(--hover-a-header);
}

@media (max-width: 600px){

    body{
        overflow-x: hidden;
    }

    header.wrapper-header nav.navbar {
        justify-content: space-between;
        align-items: center;
    }



    header.wrapper-header nav.navbar ul.nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    header.wrapper-header nav.navbar .mobile-menu{
        display: block;
    }
}
