* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}

:root {
    --bg-navbar: #0d012d;
    --color-white: #ffff;
    --hover-a-header: #1dd0f8;
}

header.wrapper-header nav.navbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-navbar);
    align-items: center;
    height: 8vh;
}

header.wrapper-header nav.navbar .mobile-menu {
    display: none;
    cursor: pointer;
}

header.wrapper-header nav.navbar .mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--color-white);
    margin: 8px;
}

header.wrapper-header nav.navbar a.logo {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.8em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header.wrapper-header nav.navbar ul.nav-list {
    list-style: none;
    display: flex;
}

header.wrapper-header nav.navbar ul.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

header.wrapper-header nav.navbar ul.nav-list li a {
    color: var(--color-white);
    text-decoration: none;
    transition: 0.3s;
}

header.wrapper-header nav.navbar ul.nav-list li a:hover {
    opacity: 0.7;
    color: var(--hover-a-header);
}

@media (max-width: 999px){

    body{
        overflow-x: hidden;
    }

    header.wrapper-header nav.navbar ul.nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 30vh;
        height: 92vh;
        background: var(--bg-navbar);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }

    header.wrapper-header nav.navbar ul.nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    header.wrapper-header nav.navbar .mobile-menu{
        display: block;
    }
}

header.wrapper-header nav.navbar ul.nav-list.active{
    transform: translateX(0);
}